[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
        logging-fstring-interpolation,
        invalid-name

[DESIGN]
max-args=8