[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
        logging-fstring-interpolation,


[DESIGN]
max-locals=20
max-args=8

[unit_tests/*]
disable=protected-access