[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
        logging-fstring-interpolation,
        too-many-positional-arguments # Too many false postivies


[DESIGN]
max-locals=20
max-args=8