[SERVICE]
    Flush        1
    Daemon       Off
    Log_Level    info
    Log_File     /log/fluent-bit.log
    Parsers_File /etc/fluent-bit/parsers.conf

[INPUT]
    Name     syslog
    Parser   ufm-syslog
    Listen   127.0.0.1
    Port     5140
    Mode     udp
    Tag      ufm_syslog

[OUTPUT]
    Name          forward
    Match         *
    Host          host_ip
    Port          host_port
